<div *ngIf="logado">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let lemb of lembrete">
        <mat-expansion-panel-header>{{ lemb.lmbrt_nome }}</mat-expansion-panel-header>
        <hr />
        <p>Cadastrado em: {{ lemb.data_criar }} Para: {{ lemb.data_final }}</p>
        <hr />
        <p>Descrição: {{ lemb.lmbrt_body }}</p>
        <hr />
      <mat-action-row>
        <button mat-button color="primary" (click)="EditarLembrete($event.target.value)" value="lmbrt_ID">Editar</button>
        <button mat-button color="warn" (click)="DeleteLembrete($event.target.value)"value="lmbrt_ID">Deletar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>  
