<nav class="navbar navbar-dark bg-secondary">
    <span class="mb-0 h2 font-weight-bolder text-white">Lembretes</span>
    <a class="nav-link" routerLink="/inserir" type="button" style="text-decoration: none; color: aliceblue">Inserir Lembrete</a>
    <a class="nav-link" routerLink="/lista" type="button" style="text-decoration: none; color: aliceblue">Ver lista de Lembretes</a>
    <span class="navbar-text" *ngIf="logado"><strong>{{ userMail }}</strong></span>
    <a class="nav-link" routerLink="/" style="text-decoration: none; color: aliceblue" >Login</a>
    <button class="btn btn-secondary" (click)="logout()" *ngIf="logado">Log Out</button>
</nav>