<body>
  <div  id="login"  class="p-2 container list-group list-group-flush">
    <h1 *ngIf="logado">Bem-vindo {{ id_usuario }}</h1>
    <div class="container">
      <button class="btn btn-success mt-2" *ngIf="logado" (click)="logout()">
        Log out
      </button>
    </div>
    <div class="p-2 container" *ngIf="!logado" class="loginBox">
      <h1>Log in</h1>
      <p *ngIf="message" class="text-center error">{{ message }}</p>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div
          style="width: 600px"
          [ngClass]="{ 'has-error': f.id_usuario.errors }"
        >
          <label for="id_usuario">Coloque seu nome</label>
          <div class="form-group clearfix list-group-item">
            <input
              type="text"
              class="form-control"
              formControlName="id_usuario"
            />
          </div>
        </div>
        <div
          class="form-group clearfix"
          [ngClass]="{ 'has-error': f.senha.errors }"
        >
          <label for="senha" class="">Senha</label>
          <div class="list-group-item" style="width: 600px">
            <input
              type="password"
              class="form-control"
              formControlName="senha"
            />
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Log in</button>
        </div>
      </form>
      <div>
        <button class="btn btn-success" (click)="showMe()">Sing in</button>
      </div>
    </div>
  </div>
  <div id="cadastro" *ngIf="!logado" class="p-2 container" style="display: none;">
    <h1>Crie um Usuario</h1>
    <form [formGroup]="createUser" (ngSubmit)="create_user()">
      <label for="" class="mt-2">Seu nome:</label>
      <input
        style="width: 600px"
        class="form-control mt-2"
        formControlName="nome"
      />
      <label for="email" class="mt-2">Seu email:</label>
      <input
        style="width: 600px"
        class="form-control mt-2"
        formControlName="email"
      />
      <label for="" class="mt-2">Sua senha:</label>
      <input
        style="width: 600px"
        class="form-control mt-2"
        formControlName="senha"
      />
      <label for="" class="mt-2">Seu Nick:</label>
      <input
        style="width: 600px"
        class="form-control mt-2"
        formControlName="nick"
      />
      <button class="btn btn-success mt-2" type="submit" (click)="showMe()">
        Sign in
      </button>
    </form>
  </div>
</body>
