<body class="bg-dark">
  <div class="container text-white">
    <h1>Insira seu lembrete</h1>
    <form [formGroup]="createLembrete" (ngSubmit)="create_lembrete()">
      <label for="lmbrt_nome" class="mt-2">Seu Titulo: </label>
      <input class="form-control mb-2" formControlName="lmbrt_nome" />
      <label for="data_final" class="mt-2">Digite a data</label>
      <input class="form-control mb-2" type="date" formControlName="data_final" />
      <label for="lmbrt_body" type="text" class="mt-2">Digite o lembrete: </label>
      <input class="form-control mb-2" formControlName="lmbrt_body" />
      <div>
        <button class="btn btn-primary mt-2">Inserir Lembrete</button>
      </div>
    </form>
  </div>
</body>