<body class="bg-dark">
  
  <div id="login" class="p-2 container loginBox text-white">
    <h1>Sou cadastrado</h1>
    <p *ngIf="message" class="text-center error">{{ message }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email" class="mt-2">Seu e-mail:</label>
      <input
        type="email"
        style="width: 600px"
        class="form-control mb-2"
        formControlName="id_usuario"
        placeholder="Email"
      />
      <label for="senha" class="mt-2">Sua senha:</label>
      <input
        type="password"
        style="width: 600px"
        class="form-control mb-2"
        formControlName="senha"
        placeholder="Senha"
      />
      <button class="btn btn-primary mt-2 "  type="submit">Log in</button>
      <!-- <button  class="btn btn-primary mt-2 ml-2" type="button" [routerLink]="'/signin'">Sign in</button> -->
    </form>
  </div>
</body>
